__pycache__
dataset/bgl/**
dataset/hdfs/**
dataset/tbird/**
logbert
output/bgl/**
output/hdfs/**
output/tbird/**
output/bgl/ksc
output/hdfs/ksc
output/tbird/ksc
preprocessed_dataset/bgl/**
preprocessed_dataset/hdfs/**
preprocessed_dataset/tbird/**
prompts/bgl/**
prompts/hdfs/**
prompts/tbird/**
prompts/hdfs/ksc
prompts/tbird/ksc